{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}

		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}

		{% if fn('is_front_page') %}
			{% include "slider.twig" %}
		{% endif %}

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper">
				{% include "partial/breadcrumbs.twig" %}
				{% if title %}<h1 class="article-h1">{{title}}</h1>{% endif %}
				{% block content %}
					Приносим извинения, содержимое не найдено.
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		<a href="https://api.whatsapp.com/send?phone=79272821765" class="wa_button">
			Напишите нам <img src="{{ theme.link  ~ "/static/wa.svg" }}" alt="Whatsapp" width="16" height="16" />
		</a>
	</body>
</html>
