<header>
    <div class="row wrapper">
        <div class="embl_cont">
            <a href="{{site.url}}" title="На главную страницу">
                <img src="{{ theme.link  ~ "/static/emblem.svg" }}" class="emblem" width="208" height="58" alt="Логотип Leader Dance" title="Логотип Leader Dance" />
            </a>
        </div>
        <nav id="nav-branches" class="nav-branches" role="navigation">
            {% include "menu.twig" with {'items': branches_menu.get_items, 'menu': true } %}
        </nav>
        <div class="vcard hcard">
            <div class="hidden fn org">{{ site.name }}</div>
            {% include ['partial/contacts.twig'] %}
        </div>
        <a id="menuOpener" class="hamburger">
            <img src="{{ theme.link  ~ "/static/hamburger.svg" }}" alt="Instagram" width="40" height="40"><span>Меню</span>
        </a>
    </div>
    <div class="menu_cont">
        <nav id="nav-main" class="nav-main wrapper" role="navigation">
            <div class="embl_cont">
                <a href="{{site.url}}" title="На главную страницу">
                    <img src="{{ theme.link  ~ "/static/emblem_white.svg" }}" class="emblem" width="208" height="58" alt="Логотип Leader Dance" title="Логотип Leader Dance" />
                </a>
            </div>
            <a id="menuCloser" class="hamburger">
                <img src="{{ theme.link  ~ "/static/close.svg" }}" alt="Instagram" width="40" height="40"><span>Меню</span>
            </a>
            {% include "menu.twig" with {'items': primary_menu.get_items, 'menu': true } %}
        </nav>
    </div>
</header>