<header>
    <div class="row wrapper">
        <div class="embl_cont">
            <a href="{{site.url}}" title="На главную страницу">
                <img src="{{ theme.link  ~ "/static/emblem.svg" }}" class="emblem" width="208" height="58" alt="Логотип Leader Dance" title="Логотип Leader Dance" />
            </a>
            <div class="sub_title">
                Танцевальный<br />центр
            </div>
        </div>
        <nav id="nav-branches" class="nav-branches" role="navigation">
            {% include "menu.twig" with {'items': branches_menu.get_items, 'menu': true } %}
        </nav>
        <div class="vcard hcard">
            <div class="hidden fn org">{{ site.name }}</div>
            <a href="{{ site.option('vcard_setting_vk') }}" class="contact square vk">
                <img src="{{ theme.link  ~ "/static/vk.svg" }}" alt="Вконтакте" width="40" height="40">
            </a>
            <a href="{{ site.option('vcard_setting_ok') }}" class="contact square ok">
                <img src="{{ theme.link  ~ "/static/ok.svg" }}" alt="Вконтакте" width="40" height="40">
            </a>
            <a href="{{ site.option('vcard_setting_yt') }}" class="contact square yt">
                <img src="{{ theme.link  ~ "/static/yt.svg" }}" alt="Вконтакте" width="40" height="40">
            </a>
            <a href="tel:{{ site.option('vcard_setting_tel') }}" class="contact string yt">
                <img src="{{ theme.link  ~ "/static/ph.svg" }}" alt="Вконтакте" width="40" height="40">Позвоните нам
            </a>
        </div>
    </div>
    <div class="menu_cont">
        <nav id="nav-main" class="nav-main wrapper" role="navigation">
            {% include "menu.twig" with {'items': primary_menu.get_items, 'menu': true } %}
        </nav>
    </div>
</header>